.navbar{
    background-color: blue;
    padding: 10px 0px;
  }
  
  .nav-toggle{
    color: #fff;
  }
  
  .navbar-menu{
    background-color: blue;
  
    position: fixed;
  
    bottom: 0;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 9998;
    width: 210px;
  
    list-style: none;
  
  }
    
  .navbar-menuitem{
    padding: 15px;
  }
  
  .navbar-menuitem a{
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-menuitem a:hover{
    color: gray;
  }