<nav class="navbar">
<div class="container">
    <div class="ui-g">
    <div class="ui-g-12">
        <a href="javascript:;" class="nav-toggle" (click)="ativaMenu = !ativaMenu"><i class="pi pi-bars"></i></a>
    </div>
    </div>
</div>

<ul class="navbar-menu" [hidden]="!ativaMenu">
    <li class="navbar-menuitem"><a href="#" routerLink="/criar">Criar Lanche Customizado</a></li>
    <li class="navbar-menuitem"><a href="#" routerLink="/customizados">Lanches Customizados</a></li>
    <li class="navbar-menuitem"><a href="#" routerLink="/cardapio">Cardapio</a></li>
</ul>
</nav>